*.gch
*.o
bin

# don't track testing results
/src/testing/results/

# don't track build dirs
/hapfuse.*

# mostly autoconf files
*#
/Makefile.in
/aclocal.m4
*.cache
/ar-lib
/config.guess
/config.sub
/configure
/depcomp
/compile
/test-driver
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/gtest-1.7.0/make/gtest_main.a
/gtest-1.7.0/make/sample1_unittest

